.vscode

frontend/node_modules
frontend/public/favicon.ico
frontend/src/react-app-env.d.ts
frontend/src/muxData.tsx
frontend/src/spectrumData.tsx
frontend/src/components/DeviceInfo.tsx
frontend/src/components/Help.tsx
frontend/package-lock.json
frontend/tsconfig.json


SNMP/__pychache__

dabing/db/__pychache__
dabing/__pychache__
test

install
dabing
server.py
static
config.json
frontend
docs
